@import url(../vendor/normalize.css);

/* Basics
----------------------------------------------------------------------------- */

/* Import webfonts. This step will likely be uneccessary and ignored for the
iPad environment. We plan on shipclipg the font files with the app itself.

Currently only using `.woff`, since we aren't worried about older browsers.
*/
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  color: #4d4d4d;
  /* Line height: 20px/14px */
  font: normal normal 14px/1.428571429 "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
}

/* Make images liquid by default */
img {
  height: auto;
  max-width: 100%;
}

img.fixed {
  max-width: auto;
}

/* Set up basic typography. We've got a vertical rhythm of 10px. */

p,
ul,
ol,
dl,
table {
  margin-top: 0;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Shared layout
-----------------------------------------------------------------------------

Note that this grid system intentionally does not support older IE rendering
engines. Hacks for double-margin float bug are not here. In addition, we use
CSS selectors that are not supported before IE7.
*/

/* Use:

    <div class="grid-12 cf">
      ...
    </div>
*/
.grid--12,
.grid--13 {
  margin-left: auto;
  margin-right: auto;
}

[class*="unit--"] {
  float: left;
  /* Prevent rows from collapsing if they don't have content. */
  min-height: 1px;
}

.unit--first {
  margin-left: 0 !important;
}

/*
For modern browsers. We have deliberately omitted the line that handles
compatibility for < IE8.

1. The space content is one way to avoid an Opera bug when the
   contenteditable attribute is included anywhere else in the document.
   Otherwise it causes space to appear at the top and bottom of elements
   that are clearfixed.
2. The use of `table` rather than `block` is only necessary if using
   `:before` to contain the top-margins of child elements.
*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

/* 12 Column Grid
-----------------------------------------------------------------------------

Unit:    40px
Margin:  20px
Gutters: 20px
Total:   740px

Remember, when creating percentage layouts target/context = result.
*/

.grid--12 {
  padding-left: 34px;
  padding-right: 34px;
}

.grid--12 [class*="unit--"] {
  margin-left: 2.857142857142857%;
}
.grid--12 .unit--1 {
  width: 5.714285714285714%;
}
.grid--12 .unit--2 {
  width: 14.285714285714285%;
}
.grid--12 .unit--3 {
  width: 22.857142857142858%;
}
.grid--12 .unit--4 {
  width: 31.428571428571427%;
}
.grid--12 .unit--5 {
  width: 40%;
}
.grid--12 .unit--6 {
  width: 48.57142857142857%;
}
.grid--12 .unit--7 {
  width: 57.14285714285714%;
}
.grid--12 .unit--8 {
  width: 65.71428571428571%;
}
.grid--12 .unit--9 {
  width: 74.28571428571429%;
}
.grid--12 .unit--10 {
  width: 82.85714285714286%;
}
.grid--12 .unit--11 {
  width: 91.42857142857143%;
}
.grid--12 .unit--12 {
  width: 100%;
}

/* Modules - Generic, nestable boxes of content.
-----------------------------------------------------------------------------

What they look like:

    <article class="mod">
      <div class="media">...</div>
      <h1 class="title">...</h1>
      <div class="content">...</div>
    </article>

Of course, this basic markup pattern is very flexible. Add `<header>`,
`<footer>` as necessary. You can (and probably should) also create 
specialized classes for modules that will be nested (e.g. `.pin--content`),
and target your styles to those.
*/

.mod {
  margin-bottom: 20px;
}

.content {
  /* Use margin collapse to ensure consistent bottom spacing
  whether or not a paragraph is used.
  
  For this to work, `.content` must not be `overflow:hidden`;
   */
  margin-bottom: 20px;
}

/* Result module
----------------------------------------------------------------------------- */

.result--header .title {
  color: #444;
  font: 600 14px/20px "Open Sans", sans-serif;
  margin-bottom: 5px;
}

.result--content {
  color: #666666;
  font: 12px/15px "Georgia", serif;
  margin-bottom: 0;
}

.result--footer {
  color: #999;
  font-size: 12px;
  line-height: 15px;
}

/* Clip
-----------------------------------------------------------------------------

A composite `.mod` made up of several sub-modules. */

.clip--media {
  /* Remove default `.mod` bottom margin. */
  margin-bottom: 0
}

.clip--comments {
  background: #383d47;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-top: -5px;
  padding-top: 5px;
}

/* Snippet Module
-----------------------------------------------------------------------------

How to:

    <div class="mod snippet">
      <p class="content">...</p>
    </div>
*/

.snippet {
  background: #fff;
  /* Contain margins. */
  overflow: hidden;
}

/* In 6-column grid structures, snippets should be at least this tall. */
.unit--6 .snippet {
  min-height: 205px;
}

.snippet .content {
  font: 14px/20px Georgia, serif;
}

/* Webpage (`.webpage`)
-----------------------------------------------------------------------------

A clipped webpage.
*/

.webpage {
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3); /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  color: #444;
  border-radius: 5px;
  overflow: hidden;
}

/* Make sure that `.webpage` inside of `.clip` is displayed on top of comments. */
.clip .webpage {
  position: relative;
  z-index: 2;
}

.webpage .media {
  background: #000;
  margin-bottom: 10px;
}
.webpage .media img {
  display: block;
  margin: 0 auto;
}

.webpage .title,
.webpage .content {
  margin-left: 15px;
  margin-right: 15px;
}

.webpage .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.webpage .content {
  color: #555;
  font: 12px/15px Georgia, serif;
  margin-bottom: 15px;
}
.webpage .content p {
  margin-bottom: 10px;
}

/* Comment module
----------------------------------------------------------------------------- */

.comment {
  background: #383d47;
  overflow: hidden;
  padding: 15px 15px 0;
}

.clip--comments .comment {
  margin-bottom: 0;
}

/* Zebra-strip lists of comments */
.clip--comments .comment:nth-child(even) {
  background: #2e323b;
}

.comment--header {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  /* Make sure we contain the avatar. */
  min-height: 25px;
  padding-top: 5px;
  /* Contains absolute elements. */
  position: relative;
  padding-left: 45px;
}

.comment--header .photo {
  border: 2px solid #242526;
  border-radius: 3px;
  left: 0;
  position: absolute;
  top: -1px;
}

.comment--header .author {
  display: inline;
  font-weight: 600;
  font-style: normal;
}

.comment--header .board {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.comment--content {
  color: #b7b7b7;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}
