/* Basics
----------------------------------------------------------------------------- */

.layer {
  background: #fafafa;
}

.layer--title {
  color: #777;
  font: normal normal 14px/43px Georgia, serif;
  text-align: center;
}

/* Layer
----------------------------------------------------------------------------- */

.layer--header {
  background: url(border-with-shadow.png) bottom repeat-x;
  height: 43px;
  padding-bottom: 2px;
}

/* Groups
----------------------------------------------------------------------------- */

.group {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.group--title {
  color: #777;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.group--footer {
  background: url(divider.png) right bottom no-repeat;
  /* Allow footer to bleed over the next group */
  bottom: -31px;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
  /* Make sure that the link stays clickable up top */
  z-index: 2;
}

.group--footer .toolbar--actions {
  position: absolute;
  right: 0;
}
