/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  background: #444b58 url(bg.png) 0 0 repeat;
  color: #fff;
}

.toolbar--modes {
  background: #202020;
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
}

