html {
  background: #444b58 url(bg.png) 0 0 repeat;
  color: #fff;
}

.toolbar--modes {
  background: #202020;
  bottom: 0;
  border-top: 1px solid #000;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
}
.toolbar--modes:before {
  background: #2b2b2b;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
